<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    {% include 'head.html' %}
    {% include 'topmenu.html' %}
</head>

<body>
    <br/>
    <br/>
    <br/>
    <br/>
</body>
</html>

            <section id="home" class="home bg-black fix">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center">
                            <div class="col-md-12">

                                        <div class="home_text ">
                                            <h2 class="text-white" style="font-size:500%; text-align: left; text-align: top;"> <strong>ALCOTECT</strong></h2>
                                            <h1 class="text-white" style="text-align: left;"><!--></h1>
                                            <h3 class="text-white" style="font-size:150%; text-align: left;"><br>ALCOTECT는 혁신적인 AI기술로 음주운전 예방 솔루션을 제공합니다.
                                                <br><br>우리의 최첨단 시스템은 실시간으로 운전자의 상태를 모니터링하여 사고를 예방하고,<p></p>
                                                안전한 도로 환경을 조성합니다.</h3>
                                        </div>

                                        <div class="home_btns m-top-40">


                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->

            <!--Featured Section-->
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features fix roomy-60">
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </div>
                                    <div class="f_item_text" style="text-align:center;">
                                        <h3>개인화</h3>
                                        <p>데이터를 기반으로 개인의 운전 활동을
                                            <br>분석하고 예방 솔루션을 제공합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-tablet"></i>
                                    </div>
                                    <div class="f_item_text" style="text-align:center;">
                                        <h3>핵심</h3>
                                        <p>앞으로 국내를 넘어 전 세계로 확장하여
                                            <br>음주운전 없는 세상을 만들어갑니다.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-sliders"></i>
                                    </div>
                                    <div class="f_item_text" style="text-align:center;">
                                        <h3>혁신</h3>
                                        <p>인간 중심의 기술 혁신을 지향하며,
                                            <br>사람을 위한 솔루션을 개발합니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Featured Section-->

<br</br>
              <div class="item bg-grey roomy-70" style="text-align:center;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-20">
                                <div class="business_item sm-m-top-50 ">
                                    <h2 class="text-uppercase;" ><strong>소개</strong> </h2>
                                    </ul>
                                    <p class="m-top-20" style="font-size:150%; style=text-align:center; style=line-height:normal; style=letter-spacing:5px;"><br><strong>ALCOTECT</strong>는 혁신적인 AI 기술을 통해 음주운전 예방 솔루션을 제공합니다.
                                        <br>저희는 음주운전으로 인한 사고와 피해를 줄이기 위해 <strong>최첨단 인공지능 시스템</strong>을 개발하여
                                        <br>실시간으로 음주운전을 예방하고, 안전한 도로 환경을 조성하는 데 기여할 예정입니다.
                                    <ul>
                                        <li><i class="" style=text-align:left;></i> <br><strong>Management</strong>
                                            - 법을 지키며 사회에 대한 충실한 의무와 책임 수행 예방 솔루션을 제공한다.</li>
                                        <li><i class="" style=text-align:left;></i> <strong>Respect</strong>
                                            - 다양한 의견을 존중하며 소통하고, 원칙을 준수함으로써 신뢰에 기반한다.  </li>
                                    <li><i class="" style=text-align:left;></i> <strong>Originality</strong>
                                            - 변화에 민첩하게 대응하고, 혁신을 통해 독창성을 만든다.</li>

                                    </ul>
                                    <p class="m-top-20" style="font-size:150%;"><br>핵심 솔루션은 차량 내부에 설치된 카메라와 연동되어 운전자의 상태를 실시간으로 모니터링하고 분석합니다.
                                        <br>AI기술은 얼굴 인식, 행동 패턴 등을 평가하여 음주 상태를 감지하고,
                                        경고와 예방 조치를 시행할 예정입니다.
                                        <br>
                                        <br>안전한 사회를 만들어 가기 위해 끊임없이 노력하고 있으며, 다양한 분야에서
                                        음주운전 예방 솔루션을 도입할 예정입니다.
                                        <br>우리의 목표는 기술을 통해 사고를 예방하고, 더 나아가 모든 사람이 안심하고 도로를 이용할 수 있는 환경을 제공하는 것입니다.

                                        <br>
                                        <br><p style="font-size:200%"><strong>ALCOTECT가 당신의 안전을 지켜드립니다.</strong>
                                        <br><strong>저희와 함께 안전한 미래를 만들어 가세요.</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off Business section -->

<br>
<br>
<br>
<br>
           <!--Test section-->
            <section id="test" class="test bg-green roomy-10 fix">
                <div class="container">
                    <div class="row">
                        <div class="main_test fix">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="head_title text-center fix">
                                    <h2 class="text-uppercase"><p></p>
                                        <br>개발자</h2>
                                    <h5><!--개발자 밑에 설명--> </h5>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="test_item fix">
                                    <div class="item_img">
                                        <img class="img-circle" src="assets/images/test-img1.jpg" alt="" />
                                        <i class="fa fa-quote-left"></i>
                                    </div>

                                    <div class="item_text">
                                        <h5>우리 이름</h5>
                                        <h6><!--메일이나 github주소나 아무거나 --></h6>

                                        <p><!--이사람에 대한 코멘트--></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="test_item fix">
                                    <div class="item_img">
                                        <img class="img-circle" src="assets/images/test-img1.jpg" alt="" />
                                        <i class="fa fa-quote-left"></i>
                                    </div>

                                    <div class="item_text">
                                        <h5>Sarah Smith</h5>
                                        <h6>envato.com</h6>

                                        <p>Natus voluptatum enim quod necessitatibus quis
                                            expedita harum provident eos obcaecati id culpa
                                            corporis molestias.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="test_item fix">
                                    <div class="item_img">
                                        <img class="img-circle" src="assets/images/test-img1.jpg" alt="" />
                                        <i class="fa fa-quote-left"></i>
                                    </div>

                                    <div class="item_text">
                                        <h5>Sarah Smith</h5>
                                        <h6>envato.com</h6>

                                        <p>Natus voluptatum enim quod necessitatibus quis
                                            expedita harum provident eos obcaecati id culpa
                                            corporis molestias.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="test_item fix sm-m-top-30">
                                    <div class="item_img">
                                        <img class="img-circle" src="assets/images/test-img2.jpg" alt="" />
                                        <i class="fa fa-quote-left"></i>
                                    </div>

                                    <div class="item_text">
                                        <h5>Sarah Smith</h5>
                                        <h6>envato.com</h6>

                                        <p>Natus voluptatum enim quod necessitatibus quis
                                            expedita harum provident eos obcaecati id culpa
                                            corporis molestias.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off test section -->



            <footer id="contact" class= "footer action-lage bg-black p-top-80">
                <div class="container" style="text-align:center;">
                    <div class="row" >
                        <div class="widget_area">
                            <div class="col-md-3">
                                <div class="widget_item widget_about">
                                    <h5 class="text-white"><!--공백--></h5>
                                    <p class="m-top-20"><!--공백--></p>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-location-arrow"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">주소</h6>
                                            <p>
                                                광주여자대학교 </p>
                                        </div>
                                    </div>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-phone"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">연락 :</h6>
                                            <p>82+ 000-0000-0000</p>
                                        </div>
                                    </div>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-envelope-o"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">메일 :</h6>
                                            <p>youremail@mail.com</p>
                                        </div>
                                    </div>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->

                        <!-- End off col-md-3 -->

                            <div class="col-md-3">
                                <div class="widget_item widget_service sm-m-top-50" style="text-align:left;>
                                    <h5 class="text-white"><!--공백</h5>--->
                                    <ul class="m-top-20">
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 이용약관 </a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 개인정보처리방침 </a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 이메일 무단 수집거부 </a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 공지사항</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 고객센터</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> 쿠기정책</a></li>
                                    </ul>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->
                        <br>
                        <br>
                                <div class="col-md-3" >
                                    <div class="widget_item widget_newsletter sm-m-top-50" >
                                        <h5 class="text-white">
                                        <form class="form-inline m-top-50">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter you Email">
                                                <button type="submit" class="btn text-center"><i class="fa fa-arrow-right"></i></button>
                                            </div>
                                <br>
                                    </form>
                                    <div class="widget_brand m-top-20">
                                        <a href="" class="text-uppercase" >ALcotect
                                      <br><a class="text-gray" style="font-size:12px; ">본 사이트의 모든 콘텐츠는 무단 전재,
                                      <br>복사, 베포 등을 금합니다.</p>
                                    </div>
                                    <ul class="list-inline m-top-20">
                                        <li>-  <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-google"></i></a> -</li>
                                    </ul>

                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->
                        </div>
                    </div>
                </div>
                <div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
                    <div class="col-md-12">
                        <p class="wow fadeInRight" data-wow-duration="1s">
                            copyrightⓒ2024 ALcotect
                        </p>
                    </div>
                </div>
            </footer>




        </div>

        <!-- JS includes -->

        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <!--<script src="assets/js/owl.carousel.min.js"></script>-->
        <script src="assets/js/jquery.magnific-popup.js"></script>
        <script src="assets/js/jquery.easing.1.3.js"></script>
        <script src="assets/css/slick/slick.js"></script>
        <script src="assets/css/slick/slick.min.js"></script>
        <script src="assets/js/jquery.collapse.js"></script>
        <script src="assets/js/bootsnav.js"></script>
        <script src="assets/js/new.js"></script>



        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>